@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: mistyrose url("/public/gif/back.gif") top;
}

body {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15pt;
    font-weight: 300 !important;
    line-height: 1.75em;
    text-align: center;
    margin-top: 14%;
}

h1 {
    letter-spacing: 14px;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 64px;
}

li {
    position: relative;
    margin: 0;
    padding: 15px;
}

ol, ul {
    list-style: none;
}

a {
    border-bottom: dotted 1px;
    color: inherit;
    outline: 0;
    text-decoration: none;
}

a:hover {
    border-color: transparent;
}

nav {
    text-align: center;
    display: inline-block;
}

nav a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    border: 0;
    display: inline-block;
}

nav a:before {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 100%;
    border: solid 1px #fff;
    display: block;
    font-size: 0.65em;
    height: 2.5em;
    line-height: 2.5em;
    position: relative;
    text-align: center;
    top: 0;
    width: 2.5em;
}

nav a:hover {
    font-size: 1.1em;
}

nav a:hover:before {
    background-color: rgba(255, 255, 255, 0.175);
    color: #fff;
}

nav a:active {
    font-size: 0.95em;
    background: none;
}

nav a:active:before {
    background-color: rgba(255, 255, 255, 0.35);
    color: #fff;
}

#footer {
    bottom: 0;
    cursor: default;
    height: 6em;
    left: 0;
    line-height: 8em;
    position: absolute;
    text-align: center;
    width: 100%;
}
